/* * {
  border: 1px solid red;
} */

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#education {
  background-color: #e2edff;
}
/* Projects */
#projects {
  background-color: #e2edff;
}

.card-text {
  display: -webkit-box;
  height: 120px;
  /* -webkit-line-clamp: 4; */
  -webkit-box-orient: vertical;
  overflow-y: scroll;
}

.project-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

/* Achievements */
#image-achivement img {
  filter: grayscale(100%);
  transition: .5s ease;
  cursor: pointer;
}

#image-achivement img:hover {
  filter: grayscale(0%);
}

#gallery-modal .modal-img{
	width: 100%;
}

.certification-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

#contact {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.social {
  font-family: "Anton", sans-serif;
}

.icon {
  background-color: white;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 25px;
  text-align: center;
  line-height: 1.9;
  color: #252626;
  -webkit-transition: 0.9s;
  border: 1px solid #252626;
}
.icon_facebook:before {
  font-family: FontAwesome;
  content: "\f09a";
}
.icon_instagram:before {
  font-family: FontAwesome;
  content: "\f16d";
}
.icon_github:before {
  font-family: FontAwesome;
  content: "\f09b";
}
.icon_linkedin:before {
  font-family: FontAwesome;
  content: "\f0e1";
}

/* .icon:hover {
  background-color: red;
  color: white;
} */

/*Container*/
.container1 {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 50px;
}

@media screen and (max-width: 767px) {
  .container1 {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 0 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container1::after, .container1::before {
  content: '';
  display: table;
  clear: both;
}

/*Timeline*/

#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#timeline::before {
  /* this is the vertical line */
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }

  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;
}

.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-block:first-child {
  margin-top: 0;
}

.timeline-block:last-child {
  margin-bottom: 0;
}

.timeline-block .timeline-year.right strong, .timeline-block .timeline-year.left strong {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -3px;
}

.timeline-block .timeline-year.right strong{
  margin-left: 50px;
}

.timeline-block .timeline-year.left strong{
  margin-left: -150px;
}

@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: 4em 0;
  }

  .timeline-block:first-child {
    margin-top: 0;
  }

  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1169px){
  .timeline-block .timeline-year{
   margin-left: 4px;
  }

  .timeline-block .timeline-year.right strong, .timeline-block .timeline-year.left strong {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0px;
  }

  .timeline-block .timeline-year.left strong, .timeline-block .timeline-year.right strong {
    margin-left: -5px;
    margin-top: -40px;
    background: #e2edff;
  }

}

.timeline-year {
  background: #2aa8e0;
  position: absolute;
  top: 15px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* box-shadow: 0 0 0 2px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 2px rgba(0, 0, 0, 0.05); */
}

@media only screen and (min-width: 1170px) {
  .timeline-year {
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.timeline-content {
  position: relative;
  margin-left: 60px;
  /* background: #ebebeb; */
  border-radius: 0.25em;
  padding: 1em;
  /* box-shadow: 0 3px 0 #d7e4ed; */
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.timeline-content {
  display: inline-block;
}
 
.timeline-content .percent {
  font-size: 2.5rem;
  font-weight: 300;
}

.timeline-content h5{
  font-size: 1rem;
 ;
}

@media only screen and (min-width: 1170px) {
  .timeline-content {
    margin-left: 0;
    width: 45%;
    /* display: block;
    text-align: end; */
  }

  .sekolah-right {
    display: block;
    text-align: end;
  }

  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ebebeb;
  }

  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }

  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ebebeb;
  }
}