.icon_facebook:hover {
  background-color: #1877f2;
  color: white;
}

.icon_instagram:hover {
  background-color: #d6249f;
  color: white;
}

.icon_github:hover {
  background-color: black;
  color: white;
}

.icon_linkedin:hover {
  background-color: #1877f2;
  color: white;
}